body {
    font-family: fantasy;
    background-color: gray;
    color: rgb(0, 0, 0);
}

.front-page {
    font-size: 24px;
    text-align: center;
}

#front-title {
    font-size: 36px;
    text-align: center;
}

img {
    display: block;
    margin: auto;
    width: 25%;
}

h1,
h2,
ul,
ol {
    text-align: center;
}
